.navbar {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #f55a5a;
  height: 55px;
}

.earth-icon {
  font-size: 24px;
}

.nav-title {
  font-size: 15px;
  font-weight: 500;
}
